$main-color: #fff;
$second-text-color:#757575;
$accent-color: #2196f3;
$header-logo-color: #000000;
$team-icon-svg: #AFB1B8;
$footer-adress-color: #FFFFFF99;
$footer-icons-svg: #FFFFFF1A;
$footer-form-input-color: #FFFFFF4D;
$portfolio-list-item-desc: #757575;
$textarea-placeholder-color: #75757580;
$portfolio-item-color: #EEEEEE;