.hero {
    padding: 200px 0 ;
    background-image: linear-gradient(#2F303A66) , url("../images//image.png");
    background-color: #2F303A;
    margin-bottom: 94px;

    &-title {
        font-family: Roboto;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #FFFFFF;
        max-width: 696px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &-btn {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 10px 32px;
        border-radius: 4px;
        margin: 0 auto;
        background-color: $accent-color;
        color: $main-color;
    }
}