body { 
    font-size: 14px;
    font-family: Roboto;
}

.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.hero {
    padding: 200px 0 ;
}

.features {
    padding: 94px 0;
}

.section-work {
    padding-bottom: 94px;
}

.section-team {
    padding: 94px 0;
}

.footer {
    padding: 60px 0;
}